<div class="mt-3 p-4 bg-success text-white rounded">
    <h1>CRUD USING SERVICE</h1>
    <button class="btn btn-primary" (click)="getAllCustomers()">Get Customers</button>
</div>
<div class="container-fluid">
<div class="row mt-2">
    <div class="col-md-8">
        <div class="border bg-body-secondary mt-2 rounded-5">
            <div class="text-black fw-bold fs-4 bg-warning rounded p-2">Customers Lists</div>
            <div class="m-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr No.</th>
                            <th>Name</th>
                            <th>City</th>
                            <th>Mobile No.</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of customerLists; track $index) {
                            <tr>
                                <td>{{$index+1}}</td>
                                <td>{{item.customerName}}</td>
                                <td>{{item.customerCity}}</td>
                                <td>{{item.mobileNo}}</td>
                                <td>{{item.email}}</td>
                                <td><button class="btn btn-primary" (click)="onEdit(item)" >Edit</button>
                                    <button class="btn btn-danger" (click)="onDelete(item.customerId)">Delete</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="border bg-body-secondary mt-2 rounded-5">
            <div class="text-black fw-bold fs-4 bg-warning rounded p-2">Create New Car</div>
            <div class="m-3">
                <div class="row">
                    <div class="col-6">
                        <label for="reg" class="form-label">Name</label>
                        <input type="text" [(ngModel)]="customerObj.customerName" class="form-control"  id="reg">
                    </div>
                    <div class="col-6">
                        <label for="brand" class="form-label">City</label>
                        <input type="text" [(ngModel)]="customerObj.customerCity" class="form-control" id="brand">
                    </div>
                    <div class="col-6">
                        <label for="model" class="form-label">Mobile No.</label>
                        <input type="text" [(ngModel)]="customerObj.mobileNo" class="form-control" id="model">
                    </div>
                    <div class="col-6">
                        <label for="color" class="form-label">Email</label>
                        <input type="email" [(ngModel)]="customerObj.email" class="form-control" id="color">
                    </div>
                    <div class="col-12 d-flex justify-content-center gap-2 mt-2">
                        <button class="btn btn-danger" type="reset">Reset</button>
                        @if (customerObj.customerId==0) {
                            <button class="btn btn-success" (click)="customerSave()" >Save</button>
                        }
                        @else {
                            <button class="btn btn-warning" (click)="onUpdate()">Update</button> 
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
