<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand fs-2 fw-bold" routerLink="data-binding">Angular</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="data-binding" >Data Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="structural-directive">Structural-directive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="attribute-directive">attribute-directive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="if-else">if-elseif-else</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="for-switch">for-switch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signal">signal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="linked-signal">linked-signal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="template-form">Template</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="reactive-form">Reactive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="get-api">GET</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="post-api">POST</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="put-api">PUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="delete-api">DELETE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="resource-api">Resource-API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="crud-api-service">Service</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Control-Flow
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="if-else">if-elseif-else</a></li>
            <li><a class="dropdown-item" routerLink="for-switch">for-switch</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>